<div class="block block-dashboard-info">
  <div class="block-title"><strong>EDIT ACCOUNT INFORMATION</strong></div>
  <form data-cf-form="70tRxe"></form>

  {% assign selected_charity = customer.metafields.customer_fields.supported_charity %}
  
  <div class="cf-field-container" id="charity-selector">
    <div class="cf-field">
      <select style="text-transform: uppercase;font-weight: 700;">
        <option value="" {% unless selected_charity %}selected{% endunless %}>I'll go with Booksio's pick!</option>
        {% assign charities = shop.metaobjects["charity_settings"]['charity-settings'].supported_charities.value %}
        {% for charity in charities %}
          {% assign charity_id = charity.id | append: '' %}
          <option value="{{ charity_id }}" {% if selected_charity == charity_id %}selected{% endif %}>{{ charity.legal_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>