
<input name="form_key" type="hidden" value="opij28QGNnAoMoTX"> 
<div id="authenticationPopup" data-bind="scope:'authenticationPopup', style: {display: 'none'}" style="display: none;">
    <!-- ko template: getTemplate() -->
    <!-- /ko -->
</div>
<div></div>
<!-- Yotpo - Add body class --><!--/ Yotpo - Add body class --><!-- Yotpo - Widget Script --><!--/ Yotpo - Widget Script -->  
<div class="form form-newsletter-manage" method="post" id="form-validate" data-hs-cf-bound="true">
    <fieldset class="fieldset">
      <input name="form_key" type="hidden" value="opij28QGNnAoMoTX"> 
      <legend class="legend"><span>Subscription option</span></legend>
      <br> 
      <div class="field choice"><input type="radio" name="is_subscribed" id="subscription" value="1" title="General Subscription" class="checkbox" checked><label for="subscription" class="label"><span>General Subscription</span></label></div>
    </fieldset>
    <div class="actions-toolbar">
      <div class="primary"><button id="subscribe-btn" type="submit" title="Save" class="action save primary"><span>Save</span></button></div>
    </div>
</div>
<div style="display: none !important;" class="subscribe-form">
{% form 'customer', id: formId, novalidate: 'novalidate' %}
  <input
    type="hidden"
    name="contact[tags]"
    value="newsletter">
  <div class="field newsletter">
    <div class="control"><input name="contact[email]" type="email" value="{{ customer.email }}"></div>
  </div>
  <div class="actions"><button class="action subscribe primary" title="Sign Up" type="submit" data-form-type="action,subscribe"><span>Sign Up</span></button></div>
{% endform %}
</div>
