<div class="block block-store-credit">
  <div class="block-title">
    <strong>Store Credit</strong>
  </div>
  <div class="block-content">
    <div class="storecredit">
      <div class="box box-balance">
        <div class="box-title">
          <strong>Store Credit Balance</strong>
        </div>
        <div class="box-content">
          <p>
            <strong>Total</strong>
            <span class="price">$0.00</span>
          </p>
        </div>
      </div>
      <div class="box box-balance-giftcard">
        <div class="box-title">
          <strong>Redeem Gift Card</strong>
        </div>
        <div class="box-content">
          <p>Have a gift card? Click here to<br> redeem it.</p>
        </div>
        <div class="box-actions">
          <a class="action edit" href="#gift-card">
            <span>Redeem Gift Card</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>