<section class="hero login-hero">
  <div class="wrapper">
    <h1>Access Your Account</h1>
  </div>
</section>

<section class="login-form faq-section">
  <div class="wrapper">
    <h2>Sign Up</h2>
    {% form 'create_customer' %}
      {{ form.errors | default_errors }}
      <label for="first">First Name</label>
      <input
        type="text"
        name="customer[first_name]"
        id="first" />
      <label for="last">Last Name</label>
      <input
        type="text"
        name="customer[last_name]"
        id="last" />
      <label for="email">Email Address</label>
      <input
        type="email"
        name="customer[email]"
        id="email" />
      <label for="password">Password</label>
      <input
        type="password"
        name="customer[password]"
        id="password" />
      <button type="submit" class="btn btn-dark">Sign Up</button>
      <a href="/account/login" class="btn btn-transparent-dark">Log in</a>
      <div class="one-click-social-login"></div>
    {% endform %}
    
    
  </div>
  <div class="contact">We're here to help !
    <a href="/pages/contact">Contact us</a>
  </div>
</section>