<div class="page-main">
<div class="lato-font box-model-64be653d4dac8" data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-element="main" data-pb-style="PQ8YRYA">
   <figure data-content-type="image" data-appearance="full-width" data-box-model="{}" data-element="main" data-pb-style="EXHNDHH"><img class="pagebuilder-mobile-hidden" src="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/heading_icon_1.png?v=1689338176" alt="" title="" data-box-model="{}" data-element="desktop_image" data-pb-style="B2K4GBR"><img class="pagebuilder-mobile-only" src="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/heading_icon_1.png?v=1689338176" alt="" title="" data-box-model="{}" data-element="mobile_image" data-pb-style="PO0IE6K"></figure>
   <div data-content-type="html" data-appearance="default" data-element="main" data-pb-style="ITD7974" data-decoded="true" class="box-model-64be653d4dae0">
      <h3 style="margin: 0;">
         <span style="font-size: 34px; line-height: 42px;">
         <span style="color: #41c2ff;">MY ACCOUNT</span>
         </span>
      </h3>
   </div>
</div>

<div class="columns">
   <div class="sidebar sidebar-main account-navigation">
      <div class="block block-collapsible-nav">
         <div class="title block-collapsible-nav-title"><strong> My Account</strong> <span class="icon" aria-hidden="true"></span></div>
         <div class="content block-collapsible-nav-content" id="block-collapsible-nav">
            <ul class="nav items">
               <li class="nav item current"><a href="#account">My Account</a></li>
               <li class="nav item"><a href="#orders">My Orders</a></li>
               <li class="nav item"><a href="#products">My Library</a></li>
               <li class="nav item"><a href="#wishlist">My Wish List</a></li>
               <li class="nav item"><span class="delimiter"></span></li>
               <li class="nav item"><a href="#addresses">Address Book</a></li>
               <li class="nav item"><a href="#account-info">Account Information</a></li>
               <li class="nav item"><span class="delimiter"></span></li>
               <li class="nav item"><a href="#gift-registry">Gift Registry</a></li>
               <li class="nav item"><a href="#returns">My Returns</a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="tabs">
    <div class="column main active" id="account">
      {% include 'account-main-tab' %}
    </div>

    <div class="column main" id="manage-subscription">
      {% include 'account-subscription' %}
    </div>

    <div class="column main" id="orders">
      {% include 'account-orders' %}
    </div>

    <div class="column main downloadable-customer-products" id="products">
      {% include 'account-downloadable-products' %}
    </div>

    {% include 'account-addresses' %}

    <div class="column main" id="account-info">
      {% include 'account-edit-info' %}
    </div>

    <div class="column main" id="store-credit">
      {% include 'account-store-credit' %}
    </div>

    <div class="column main" id="gift-card">
    </div>

    <div class="column main" id="gift-registry">
    </div>
  </div>
</div>

<style>
  .sidebar .block:last-child {
    margin-bottom: 56px;
  }
  .downloadable-customer-products a.product.photo.product-item-photo img {
    height: 265px;
  }
  .sidebar.sidebar-main .title strong {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
    line-height: normal;
    margin: 0;
    padding: 0;
    font-family: "Lato";
  }
  .product.name a {
    font-weight: inherit;
    font-family: "LatoBold";
  }
  strong {
    font-family: "LatoBold";
  }
  .cf-field[data-cf-field-type=group] {
    border: none;
  }
  .cf-cancel {
    display: none;
  }
  .box-title {
    text-transform: uppercase;
  }
  .cf-form-inner .cf-cancel {
    display: none !important;
  }
  .cf-form-inner .cf-form-actions {
    margin-top: 0 !important;
    padding-left: 16px;
  }
  .cf-form-inner .cf-form-actions button {
    width: 97px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 11.8841px;
    line-height: 14px;
    color: #fff;
    text-transform: uppercase;
    background: #ff8e0f;
    border: 1px solid #ff8e0f;
    border-radius: 2px;
  }
  .charity-selector {
    display: none !important;
  }
  #store-credit .block-content .box .box-content strong {
    margin-right: 30px;
    width: 43px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    color: #1f1f1f;
    text-transform: uppercase;
  }
  #store-credit .block-content .box .box-content {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #888686;
  }
  #store-credit .block-content .box .box-actions .action.edit {
    width: 162px;
    font-size: 12px;
    background-color: #000;
    color: #fff;
    padding: 3px 0;
    display: block;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
  }
  @media (min-width: 1200px) {
    .cf-form-inner .cf-form-step > .cf-fields-container {
      display: flex;
      flex-wrap: nowrap;
      align-items: stretch;
    }

    .cf-form-inner .cf-form-step > .cf-fields-container > .cf-field-container {
      border-bottom: 1px solid #eee;
      height: auto;
    }

    .cf-form-inner .cf-form-step > .cf-fields-container > .cf-field-container:first-child {
      border-right: 1px solid #eee;
    }

    #store-credit .block-content .box {
      min-height: 500px;
    }

    #store-credit .block-content .box .box-content {
      padding-left: 30px;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: #888686;
    }

    #store-credit .block-content .box .box-actions {
      padding-left: 30px;
    }
  }
</style>

{{ 'account.js' | asset_url | script_tag }}