<div data-content-type="block" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="DK6VPW6" class="box-model-64a5c65d8ca89">
  <div class="widget block block-static-block">
    <style>#html-body [data-pb-style=DU3NDJX]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0}#html-body [data-pb-style=LAKM42B]{border-width:0}#html-body [data-pb-style=NYSM7SJ],#html-body [data-pb-style=Y6PWKG8]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0;width:75%;align-self:stretch}#html-body [data-pb-style=NYSM7SJ]{text-align:center;width:25%}#html-body [data-pb-style=WJK9MDH]{border-width:0}#html-body [data-pb-style=UTTIU5I]{text-align:right;border-width:0}#html-body [data-pb-style=I21I1XA]{text-align:center;border-width:0}</style>
    <div class="new-arrivals-block box-model-64a5c65d778b9 box-model-64a5c65d8ca92" data-content-type="row" data-appearance="full-width" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-box-model="{&quot;mobile&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;50px&quot;,&quot;bottom&quot;:&quot;36px&quot;}},&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;50px&quot;,&quot;bottom&quot;:&quot;60px&quot;}}}" data-element="main" data-pb-style="DU3NDJX">
      <div class="row-full-width-inner" data-element="inner">
        <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
          <div class="pagebuilder-column box-model-64a5c65d778fd box-model-64a5c65d8cab3" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{&quot;mobile&quot;:{&quot;margin&quot;:{&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;14px&quot;}},&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;20px&quot;,&quot;left&quot;:&quot;14px&quot;}}}" data-element="main" data-pb-style="Y6PWKG8">
            <div class="lora-font ny-times heading-title box-model-64a5c65d77922 box-model-64a5c65d8cad3" data-content-type="text" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;bottom&quot;:&quot;10px&quot;}}}" data-element="main" data-pb-style="WJK9MDH">
              <h3><span style="font-size: 32px; line-height: 26px;"><span style="color: #202020;">{{ section.settings.title  }}</span></span></h3>
            </div>
            <div data-content-type="html" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="I21I1XA" data-decoded="true" class="box-model-64a5c65d7792c box-model-64a5c65d8cadb">
              <style>
                .trendsellers-blocks .trendingbook-col figure {
                border-radius: 5px;
                }
                .new-arrivals-block .block.widget .products-grid .product-items {
                gap: 0;
                }
                .new-arrivals-block .block.widget .products-grid .product-items li.product-item {
                width: calc(100% / 6);
                }
                .new-arrivals-block .block.widget .products-grid .product-items li.product-item .product-item-info .product-item-details .author-wrapper .author {
                color: #cc672d;
                }
                .cms-index-index .line-heading-col:before, 
                .cms-page-view .line-heading-col:before {
                background: #cc672d;
                }
                .new-arrivals-block .slick-arrow {
                width: 44px;
                height: 52px;
                z-index: 1;
                background-color: #298fc2;
                }
                .new-arrivals-block .slick-arrow:before {
                width: 44px;
                height: 52px;
                background-image: none !important;
                }
                .new-arrivals-block .slick-arrow.slick-prev {
                margin-left: -10px;
                border-radius: 0 15px 15px 0;
                }
                .new-arrivals-block .slick-arrow.slick-next {
                margin-right: -10px;
                border-radius: 15px 0 0 15px;
                }
                .new-arrivals-block .slick-arrow.slick-disabled {
                background-color: rgba(41,143,193, 0.65);
                }
                .new-arrivals-block .slick-arrow.slick-next:before {
                content: '\e608';
                font-family: 'luma-icons';
                top: 16px;
                height: auto;
                }
                .new-arrivals-block .slick-arrow.slick-prev:before {
                content: '\e617';
                font-family: 'luma-icons';
                top: 16px;
                height: auto;
                }
                .new-arrivals-block .slick-prev:hover:before,
                .new-arrivals-block .slick-next:hover:before {
                color: #fff;
                }
                .new-arrivals-block .newarrival-lists {
                margin: 0;
                }
                .new-arrivals-block .product-item-details {
                display: none !important;
                }
                .new-arrivals-block .slick-arrow {
                width: 44px;
                height: 52px;
                background-color: #298fc2;
                }
                .new-arrivals-block .slick-arrow:before {
                width: 44px;
                height: 52px;
                background-image: none !important;
                }
                .new-arrivals-block .slick-arrow.slick-prev {
                margin-left: -40px !important;
                border-radius: 0 15px 15px 0;
                }
                .new-arrivals-block .slick-arrow.slick-next {
                margin-right: -40px !important;
                border-radius: 15px 0 0 15px;
                }
                .new-arrivals-block .slick-arrow.slick-disabled {
                background-color: rgba(41,143,193, 0.65);
                }
                .new-arrivals-block .slick-arrow.slick-next:before {
                content: '\e608';
                font-family: 'luma-icons';
                top: 16px;
                height: auto;
                }
                .new-arrivals-block .slick-arrow.slick-prev:before {
                content: '\e617';
                font-family: 'luma-icons';
                top: 16px;
                height: auto;
                }
                .new-arrivals-block .slick-prev:hover:before,
                .new-arrivals-block .slick-next:hover:before {
                color: #fff;
                }
                .new-arrivals-block .newarrival-lists {
                margin: 0;
                }
                .new-arrivals-block [data-content-type=products][data-appearance=carousel] .slick-initialized li.product-item {
                padding: 14px;
                }
                .new-arrivals-block [data-content-type=products][data-appearance=carousel] .slick-initialized li.product-item .product-item-info {
                max-width: 195px;
                }
                .new-arrivals-block [data-content-type=products][data-appearance=carousel] .slick-initialized li.product-item .product-image-wrapper {
                height: auto;
                padding-bottom: 0 !important;
                }
                .new-arrivals-block .slick-arrow{
                top: 50% !important;
                }
                .new-arrivals-block .slick-initialized .slick-slide {
                position: relative;
                }
                .new-arrivals-block .slick-slider .slick-track {
                display: flex;
                }
                .new-arrivals-block .slick-initialized .slick-slide {
                align-self: flex-end;
                }
                .new-arrivals-block .heading-title h3 {
                margin-top: 0;
                margin-bottom: 10px;
                font-family: "lora";
                text-transform: capitalize;
                font-size: 30px !important;
                font-weight: bold;
                line-height: 30px !important;
                font-style: normal;
                color: #212322 !important;
                }
                @media (max-width: 767px) {
                .new-arrivals-block [data-content-type=products][data-appearance=carousel] .slick-initialized li.product-item .product-item-info {
                max-width: 150px;
                }
                }
                @media (min-width: 768px) and (max-width: 1024px) {
                .new-arrivals-block .slick-arrow.slick-next {
                right: 20px;
                }
                .new-arrivals-block .slick-arrow.slick-prev {
                left: 20px;
                }
                }
                @media (max-width: 767px) {
                .new-arrivals-block .heading-title h3, .new-arrivals-block .heading-title h3 span {
                font-size: 23px !important;
                line-height: 23px !important;
                }
                .new-arrivals-block .heading-title h3 {
                line-height: 30px !important;
                }
                .new-arrivals-block .ny-times-view span {
                font-size: 10px !important;
                line-height: 10px !important;
                color: #707070 !important;
                }
                .new-arrivals-block .ny-times-view p {
                margin-bottom: 0 !important;
                }
                .new-arrivals-block .pagebuilder-column-group {
                justify-content: space-between;
                position: relative;
                }
                .new-arrivals-block .pagebuilder-column {
                max-width: fit-content !important;
                margin-bottom: 0 !important;
                }
                .new-arrivals-block .ny-times-subtitle span {
                font-size: 14px !important;
                line-height: 20px !important;
                }
                .new-arrivals-block .ny-times-subtitle p {
                margin-bottom: 0 !important;
                }
                .new-arrivals-block .preserving-democracy-view {
                position: absolute;
                right: 0;
                top: -16px;
                }
                .new-arrivals-block .slick-arrow.slick-next {
                right: 0;
                }
                .new-arrivals-block .slick-arrow.slick-prev {
                left: 0;
                }
                #html-body .new-arrivals-block .slick-arrow.slick-next {
                margin-right: -20px !important;
                }
                #html-body .new-arrivals-block .slick-arrow.slick-prev {
                margin-left: -20px !important;
                }
                }
              </style>
            </div>
            <style type="text/css">.box-model-64a5c65d77922 {margin-bottom: 10px;}</style>
            <style type="text/css">.box-model-64a5c65d7792c {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
            <style type="text/css">.box-model-64a5c65d8cad3 {margin-bottom: 10px;}</style>
            <style type="text/css">.box-model-64a5c65d8cadb {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
          </div>
          <div class="pagebuilder-column box-model-64a5c65d77937 box-model-64a5c65d8cae5" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{&quot;mobile&quot;:{&quot;margin&quot;:{&quot;right&quot;:&quot;0px&quot;}},&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;20px&quot;}}}" data-element="main" data-pb-style="NYSM7SJ">
            <div class="lato-font ny-times-view box-model-64a5c65d7795a box-model-64a5c65d8cb05" data-content-type="text" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="UTTIU5I">
              <p><span style="color: #212322;"><a style="color: #212322;" tabindex="0" href="{{ section.settings.url  }}"><span style="text-decoration: underline;"><span style="font-size: 16px;">View All</span></span></a></span></p>
            </div>
            <style type="text/css">.box-model-64a5c65d7795a {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
            <style type="text/css">.box-model-64a5c65d8cb05 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
          </div>
          <style type="text/css">.box-model-64a5c65d778fd {margin-top: 0px;margin-bottom: 20px;margin-left: 14px;}@media only screen and (max-width: 768px) {.box-model-64a5c65d778fd {margin-bottom: 0px;margin-left: 14px;}}</style>
          <style type="text/css">.box-model-64a5c65d77937 {margin-top: 0px;margin-right: 0px;margin-bottom: 20px;}@media only screen and (max-width: 768px) {.box-model-64a5c65d77937 {margin-right: 0px;}}</style>
          <style type="text/css">.box-model-64a5c65d8cab3 {margin-top: 0px;margin-bottom: 20px;margin-left: 14px;}@media only screen and (max-width: 768px) {.box-model-64a5c65d8cab3 {margin-bottom: 0px;margin-left: 14px;}}</style>
          <style type="text/css">.box-model-64a5c65d8cae5 {margin-top: 0px;margin-right: 0px;margin-bottom: 20px;}@media only screen and (max-width: 768px) {.box-model-64a5c65d8cae5 {margin-right: 0px;}}</style>
        </div>
        <div data-content-type="products" data-appearance="carousel" data-autoplay="false" data-autoplay-speed="4000" data-infinite-loop="true" data-show-arrows="true" data-show-dots="false" data-carousel-mode="default" data-center-padding="90px" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="LAKM42B" class="box-model-64a5c65d77965 box-model-64a5c65d8cb32">
          <ol class="product-items widget-product-carousel">
            <div>
              <div>
                <li class="product-item" >
                  <div class="product-item-info" role="group" aria-label="product">
                    <a href="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" class="product-item-photo" tabindex="0">
                      <span class="product-image-container product-image-container-7034290" style="width: 351px;"><span class="product-image-wrapper" style="padding-bottom: 125%;"><img class="" src="https://cdn.thebooksiogroup.com/cover_images/672/9780593556672.jpg?width=300&amp;height=446&amp;image-type=product_page_main_image&amp;fit=bounds" data-amsrc="https://cdn.thebooksiogroup.com/cover_images/672/9780593556672.jpg?width=300&amp;height=446&amp;image-type=product_page_main_image&amp;fit=bounds" width="351" height="561" alt="Lessons in Chemistry" style="opacity: 1;" data-loaded="true"></span></span>  
                    </a>
                    <div class="product-item-details">
                      <strong class="product-item-name">Lessons in Chemistry</strong> 
                      <div class="author-wrapper">
                        <a target="_blank" href="/catalogsearch/result/?q=Bonnie%20Garmus" tabindex="0">
                          <p class="author">Bonnie Garmus</p>
                        </a>
                      </div>
                      <div class="yotpo bottomLine bottomline-position yotpo-small" data-product-id="7034290" data-url="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" data-yotpo-element-id="1">
                        <div class="yotpo-display-wrapper" style="visibility: hidden;">
                          <div class="standalone-bottomline" data-source="default" tabindex="-1">
                            <div class="yotpo-bottomline pull-left  star-clickable" tabindex="0">
                              <span class="yotpo-stars"> <span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="sr-only">5.0 star rating</span> </span>  <a href="javascript:void(0)" class="text-m" aria-label="1 reviews" tabindex="0">1 Review</a>   
                              <div class="yotpo-clr"></div>
                            </div>
                            <div class="yotpo-clr"></div>
                          </div>
                          <div class="yotpo-clr"></div>
                        </div>
                      </div>
                      <div class="product-item-inner">
                        <div class="product-item-actions">
                          <a href="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" class="view-product-details" tabindex="0">View Details</a> 
                          <div class="price-box price-final_price" data-role="priceBox" data-product-id="7034290" data-price-box="product-id-7034290"> <span class="normal-price">   <span class="pricing-element price-container "> <span class="price-label">Regular Price</span>           <span id="old-price-7034290-widget-product-carousel" data-price-amount="14.99" data-price-type="finalPrice" data-price-min="14.99" data-price-max="28.83" class="price-wrapper price-range ">   <span class="price">$14.99</span> - <span class="price">$28.83</span></span> </span>  </span>  <span class="old-price sly-old-price no-display">  <span class="pricing-element price-container "> <span class="price-label">Regular Price</span>           <span id="old-price-7034290-widget-product-carousel" data-price-amount="14.99" data-price-type="oldPrice" data-price-min="14.99" data-price-max="14.99" class="price-wrapper single-price ">  <span class="price">$14.99</span></span>   </span> </span>  </div>
                          <div class="actions-primary">
                            <form data-role="tocart-form" data-product-sku="43ad39032c13" action="https://www.booksio.com/checkout/cart/add/uenc/aHR0cHM6Ly93d3cuYm9va3Npby5jb20v/product/7034290/" method="post" data-hs-cf-bound="true"><input type="hidden" name="product" value="7034290" tabindex="0"><input type="hidden" name="uenc" value="aHR0cHM6Ly93d3cuYm9va3Npby5jb20vY2hlY2tvdXQvY2FydC9hZGQvdWVuYy9hSFIwY0hNNkx5OTNkM2N1WW05dmEzTnBieTVqYjIwdi9wcm9kdWN0LzcwMzQyOTAv" tabindex="0"><input name="form_key" type="hidden" value="UxbR7TJdQwixPtD6" tabindex="0"><input type="hidden" name="qty" value="1" tabindex="0"> <button type="submit" title="Add to Cart" class="action tocart primary" tabindex="0"><span>Add to Cart</span></button></form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </div>
            </div>
            <div>
              <div>
                <li class="product-item" >
                  <div class="product-item-info" role="group" aria-label="product">
                    <a href="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" class="product-item-photo" tabindex="0">
                      <span class="product-image-container product-image-container-7034290" style="width: 351px;"><span class="product-image-wrapper" style="padding-bottom: 125%;"><img class="" src="https://cdn.thebooksiogroup.com/cover_images/672/9780593556672.jpg?width=300&amp;height=446&amp;image-type=product_page_main_image&amp;fit=bounds" data-amsrc="https://cdn.thebooksiogroup.com/cover_images/672/9780593556672.jpg?width=300&amp;height=446&amp;image-type=product_page_main_image&amp;fit=bounds" width="351" height="561" alt="Lessons in Chemistry" style="opacity: 1;" data-loaded="true"></span></span>  
                    </a>
                    <div class="product-item-details">
                      <strong class="product-item-name">Lessons in Chemistry</strong> 
                      <div class="author-wrapper">
                        <a target="_blank" href="/catalogsearch/result/?q=Bonnie%20Garmus" tabindex="0">
                          <p class="author">Bonnie Garmus</p>
                        </a>
                      </div>
                      <div class="yotpo bottomLine bottomline-position yotpo-small" data-product-id="7034290" data-url="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" data-yotpo-element-id="1">
                        <div class="yotpo-display-wrapper" style="visibility: hidden;">
                          <div class="standalone-bottomline" data-source="default" tabindex="-1">
                            <div class="yotpo-bottomline pull-left  star-clickable" tabindex="0">
                              <span class="yotpo-stars"> <span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="sr-only">5.0 star rating</span> </span>  <a href="javascript:void(0)" class="text-m" aria-label="1 reviews" tabindex="0">1 Review</a>   
                              <div class="yotpo-clr"></div>
                            </div>
                            <div class="yotpo-clr"></div>
                          </div>
                          <div class="yotpo-clr"></div>
                        </div>
                      </div>
                      <div class="product-item-inner">
                        <div class="product-item-actions">
                          <a href="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" class="view-product-details" tabindex="0">View Details</a> 
                          <div class="price-box price-final_price" data-role="priceBox" data-product-id="7034290" data-price-box="product-id-7034290"> <span class="normal-price">   <span class="pricing-element price-container "> <span class="price-label">Regular Price</span>           <span id="old-price-7034290-widget-product-carousel" data-price-amount="14.99" data-price-type="finalPrice" data-price-min="14.99" data-price-max="28.83" class="price-wrapper price-range ">   <span class="price">$14.99</span> - <span class="price">$28.83</span></span> </span>  </span>  <span class="old-price sly-old-price no-display">  <span class="pricing-element price-container "> <span class="price-label">Regular Price</span>           <span id="old-price-7034290-widget-product-carousel" data-price-amount="14.99" data-price-type="oldPrice" data-price-min="14.99" data-price-max="14.99" class="price-wrapper single-price ">  <span class="price">$14.99</span></span>   </span> </span>  </div>
                          <div class="actions-primary">
                            <form data-role="tocart-form" data-product-sku="43ad39032c13" action="https://www.booksio.com/checkout/cart/add/uenc/aHR0cHM6Ly93d3cuYm9va3Npby5jb20v/product/7034290/" method="post" data-hs-cf-bound="true"><input type="hidden" name="product" value="7034290" tabindex="0"><input type="hidden" name="uenc" value="aHR0cHM6Ly93d3cuYm9va3Npby5jb20vY2hlY2tvdXQvY2FydC9hZGQvdWVuYy9hSFIwY0hNNkx5OTNkM2N1WW05dmEzTnBieTVqYjIwdi9wcm9kdWN0LzcwMzQyOTAv" tabindex="0"><input name="form_key" type="hidden" value="UxbR7TJdQwixPtD6" tabindex="0"><input type="hidden" name="qty" value="1" tabindex="0"> <button type="submit" title="Add to Cart" class="action tocart primary" tabindex="0"><span>Add to Cart</span></button></form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </div>
            </div>
            <div>
              <div>
                <li class="product-item" >
                  <div class="product-item-info" role="group" aria-label="product">
                    <a href="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" class="product-item-photo" tabindex="0">
                      <span class="product-image-container product-image-container-7034290" style="width: 351px;"><span class="product-image-wrapper" style="padding-bottom: 125%;"><img class="" src="https://cdn.thebooksiogroup.com/cover_images/672/9780593556672.jpg?width=300&amp;height=446&amp;image-type=product_page_main_image&amp;fit=bounds" data-amsrc="https://cdn.thebooksiogroup.com/cover_images/672/9780593556672.jpg?width=300&amp;height=446&amp;image-type=product_page_main_image&amp;fit=bounds" width="351" height="561" alt="Lessons in Chemistry" style="opacity: 1;" data-loaded="true"></span></span>  
                    </a>
                    <div class="product-item-details">
                      <strong class="product-item-name">Lessons in Chemistry</strong> 
                      <div class="author-wrapper">
                        <a target="_blank" href="/catalogsearch/result/?q=Bonnie%20Garmus" tabindex="0">
                          <p class="author">Bonnie Garmus</p>
                        </a>
                      </div>
                      <div class="yotpo bottomLine bottomline-position yotpo-small" data-product-id="7034290" data-url="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" data-yotpo-element-id="1">
                        <div class="yotpo-display-wrapper" style="visibility: hidden;">
                          <div class="standalone-bottomline" data-source="default" tabindex="-1">
                            <div class="yotpo-bottomline pull-left  star-clickable" tabindex="0">
                              <span class="yotpo-stars"> <span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="sr-only">5.0 star rating</span> </span>  <a href="javascript:void(0)" class="text-m" aria-label="1 reviews" tabindex="0">1 Review</a>   
                              <div class="yotpo-clr"></div>
                            </div>
                            <div class="yotpo-clr"></div>
                          </div>
                          <div class="yotpo-clr"></div>
                        </div>
                      </div>
                      <div class="product-item-inner">
                        <div class="product-item-actions">
                          <a href="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" class="view-product-details" tabindex="0">View Details</a> 
                          <div class="price-box price-final_price" data-role="priceBox" data-product-id="7034290" data-price-box="product-id-7034290"> <span class="normal-price">   <span class="pricing-element price-container "> <span class="price-label">Regular Price</span>           <span id="old-price-7034290-widget-product-carousel" data-price-amount="14.99" data-price-type="finalPrice" data-price-min="14.99" data-price-max="28.83" class="price-wrapper price-range ">   <span class="price">$14.99</span> - <span class="price">$28.83</span></span> </span>  </span>  <span class="old-price sly-old-price no-display">  <span class="pricing-element price-container "> <span class="price-label">Regular Price</span>           <span id="old-price-7034290-widget-product-carousel" data-price-amount="14.99" data-price-type="oldPrice" data-price-min="14.99" data-price-max="14.99" class="price-wrapper single-price ">  <span class="price">$14.99</span></span>   </span> </span>  </div>
                          <div class="actions-primary">
                            <form data-role="tocart-form" data-product-sku="43ad39032c13" action="https://www.booksio.com/checkout/cart/add/uenc/aHR0cHM6Ly93d3cuYm9va3Npby5jb20v/product/7034290/" method="post" data-hs-cf-bound="true"><input type="hidden" name="product" value="7034290" tabindex="0"><input type="hidden" name="uenc" value="aHR0cHM6Ly93d3cuYm9va3Npby5jb20vY2hlY2tvdXQvY2FydC9hZGQvdWVuYy9hSFIwY0hNNkx5OTNkM2N1WW05dmEzTnBieTVqYjIwdi9wcm9kdWN0LzcwMzQyOTAv" tabindex="0"><input name="form_key" type="hidden" value="UxbR7TJdQwixPtD6" tabindex="0"><input type="hidden" name="qty" value="1" tabindex="0"> <button type="submit" title="Add to Cart" class="action tocart primary" tabindex="0"><span>Add to Cart</span></button></form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </div>
            </div>
            <div>
              <div>
                <li class="product-item" >
                  <div class="product-item-info" role="group" aria-label="product">
                    <a href="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" class="product-item-photo" tabindex="0">
                      <span class="product-image-container product-image-container-7034290" style="width: 351px;"><span class="product-image-wrapper" style="padding-bottom: 125%;"><img class="" src="https://cdn.thebooksiogroup.com/cover_images/672/9780593556672.jpg?width=300&amp;height=446&amp;image-type=product_page_main_image&amp;fit=bounds" data-amsrc="https://cdn.thebooksiogroup.com/cover_images/672/9780593556672.jpg?width=300&amp;height=446&amp;image-type=product_page_main_image&amp;fit=bounds" width="351" height="561" alt="Lessons in Chemistry" style="opacity: 1;" data-loaded="true"></span></span>  
                    </a>
                    <div class="product-item-details">
                      <strong class="product-item-name">Lessons in Chemistry</strong> 
                      <div class="author-wrapper">
                        <a target="_blank" href="/catalogsearch/result/?q=Bonnie%20Garmus" tabindex="0">
                          <p class="author">Bonnie Garmus</p>
                        </a>
                      </div>
                      <div class="yotpo bottomLine bottomline-position yotpo-small" data-product-id="7034290" data-url="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" data-yotpo-element-id="1">
                        <div class="yotpo-display-wrapper" style="visibility: hidden;">
                          <div class="standalone-bottomline" data-source="default" tabindex="-1">
                            <div class="yotpo-bottomline pull-left  star-clickable" tabindex="0">
                              <span class="yotpo-stars"> <span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="sr-only">5.0 star rating</span> </span>  <a href="javascript:void(0)" class="text-m" aria-label="1 reviews" tabindex="0">1 Review</a>   
                              <div class="yotpo-clr"></div>
                            </div>
                            <div class="yotpo-clr"></div>
                          </div>
                          <div class="yotpo-clr"></div>
                        </div>
                      </div>
                      <div class="product-item-inner">
                        <div class="product-item-actions">
                          <a href="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" class="view-product-details" tabindex="0">View Details</a> 
                          <div class="price-box price-final_price" data-role="priceBox" data-product-id="7034290" data-price-box="product-id-7034290"> <span class="normal-price">   <span class="pricing-element price-container "> <span class="price-label">Regular Price</span>           <span id="old-price-7034290-widget-product-carousel" data-price-amount="14.99" data-price-type="finalPrice" data-price-min="14.99" data-price-max="28.83" class="price-wrapper price-range ">   <span class="price">$14.99</span> - <span class="price">$28.83</span></span> </span>  </span>  <span class="old-price sly-old-price no-display">  <span class="pricing-element price-container "> <span class="price-label">Regular Price</span>           <span id="old-price-7034290-widget-product-carousel" data-price-amount="14.99" data-price-type="oldPrice" data-price-min="14.99" data-price-max="14.99" class="price-wrapper single-price ">  <span class="price">$14.99</span></span>   </span> </span>  </div>
                          <div class="actions-primary">
                            <form data-role="tocart-form" data-product-sku="43ad39032c13" action="https://www.booksio.com/checkout/cart/add/uenc/aHR0cHM6Ly93d3cuYm9va3Npby5jb20v/product/7034290/" method="post" data-hs-cf-bound="true"><input type="hidden" name="product" value="7034290" tabindex="0"><input type="hidden" name="uenc" value="aHR0cHM6Ly93d3cuYm9va3Npby5jb20vY2hlY2tvdXQvY2FydC9hZGQvdWVuYy9hSFIwY0hNNkx5OTNkM2N1WW05dmEzTnBieTVqYjIwdi9wcm9kdWN0LzcwMzQyOTAv" tabindex="0"><input name="form_key" type="hidden" value="UxbR7TJdQwixPtD6" tabindex="0"><input type="hidden" name="qty" value="1" tabindex="0"> <button type="submit" title="Add to Cart" class="action tocart primary" tabindex="0"><span>Add to Cart</span></button></form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </div>
            </div>
            <div>
              <div>
                <li class="product-item" >
                  <div class="product-item-info" role="group" aria-label="product">
                    <a href="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" class="product-item-photo" tabindex="0">
                      <span class="product-image-container product-image-container-7034290" style="width: 351px;"><span class="product-image-wrapper" style="padding-bottom: 125%;"><img class="" src="https://cdn.thebooksiogroup.com/cover_images/672/9780593556672.jpg?width=300&amp;height=446&amp;image-type=product_page_main_image&amp;fit=bounds" data-amsrc="https://cdn.thebooksiogroup.com/cover_images/672/9780593556672.jpg?width=300&amp;height=446&amp;image-type=product_page_main_image&amp;fit=bounds" width="351" height="561" alt="Lessons in Chemistry" style="opacity: 1;" data-loaded="true"></span></span>  
                    </a>
                    <div class="product-item-details">
                      <strong class="product-item-name">Lessons in Chemistry</strong> 
                      <div class="author-wrapper">
                        <a target="_blank" href="/catalogsearch/result/?q=Bonnie%20Garmus" tabindex="0">
                          <p class="author">Bonnie Garmus</p>
                        </a>
                      </div>
                      <div class="yotpo bottomLine bottomline-position yotpo-small" data-product-id="7034290" data-url="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" data-yotpo-element-id="1">
                        <div class="yotpo-display-wrapper" style="visibility: hidden;">
                          <div class="standalone-bottomline" data-source="default" tabindex="-1">
                            <div class="yotpo-bottomline pull-left  star-clickable" tabindex="0">
                              <span class="yotpo-stars"> <span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="sr-only">5.0 star rating</span> </span>  <a href="javascript:void(0)" class="text-m" aria-label="1 reviews" tabindex="0">1 Review</a>   
                              <div class="yotpo-clr"></div>
                            </div>
                            <div class="yotpo-clr"></div>
                          </div>
                          <div class="yotpo-clr"></div>
                        </div>
                      </div>
                      <div class="product-item-inner">
                        <div class="product-item-actions">
                          <a href="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" class="view-product-details" tabindex="0">View Details</a> 
                          <div class="price-box price-final_price" data-role="priceBox" data-product-id="7034290" data-price-box="product-id-7034290"> <span class="normal-price">   <span class="pricing-element price-container "> <span class="price-label">Regular Price</span>           <span id="old-price-7034290-widget-product-carousel" data-price-amount="14.99" data-price-type="finalPrice" data-price-min="14.99" data-price-max="28.83" class="price-wrapper price-range ">   <span class="price">$14.99</span> - <span class="price">$28.83</span></span> </span>  </span>  <span class="old-price sly-old-price no-display">  <span class="pricing-element price-container "> <span class="price-label">Regular Price</span>           <span id="old-price-7034290-widget-product-carousel" data-price-amount="14.99" data-price-type="oldPrice" data-price-min="14.99" data-price-max="14.99" class="price-wrapper single-price ">  <span class="price">$14.99</span></span>   </span> </span>  </div>
                          <div class="actions-primary">
                            <form data-role="tocart-form" data-product-sku="43ad39032c13" action="https://www.booksio.com/checkout/cart/add/uenc/aHR0cHM6Ly93d3cuYm9va3Npby5jb20v/product/7034290/" method="post" data-hs-cf-bound="true"><input type="hidden" name="product" value="7034290" tabindex="0"><input type="hidden" name="uenc" value="aHR0cHM6Ly93d3cuYm9va3Npby5jb20vY2hlY2tvdXQvY2FydC9hZGQvdWVuYy9hSFIwY0hNNkx5OTNkM2N1WW05dmEzTnBieTVqYjIwdi9wcm9kdWN0LzcwMzQyOTAv" tabindex="0"><input name="form_key" type="hidden" value="UxbR7TJdQwixPtD6" tabindex="0"><input type="hidden" name="qty" value="1" tabindex="0"> <button type="submit" title="Add to Cart" class="action tocart primary" tabindex="0"><span>Add to Cart</span></button></form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </div>
            </div>
            <div>
              <div>
                <li class="product-item" >
                  <div class="product-item-info" role="group" aria-label="product">
                    <a href="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" class="product-item-photo" tabindex="0">
                      <span class="product-image-container product-image-container-7034290" style="width: 351px;"><span class="product-image-wrapper" style="padding-bottom: 125%;"><img class="" src="https://cdn.thebooksiogroup.com/cover_images/672/9780593556672.jpg?width=300&amp;height=446&amp;image-type=product_page_main_image&amp;fit=bounds" data-amsrc="https://cdn.thebooksiogroup.com/cover_images/672/9780593556672.jpg?width=300&amp;height=446&amp;image-type=product_page_main_image&amp;fit=bounds" width="351" height="561" alt="Lessons in Chemistry" style="opacity: 1;" data-loaded="true"></span></span>  
                    </a>
                    <div class="product-item-details">
                      <strong class="product-item-name">Lessons in Chemistry</strong> 
                      <div class="author-wrapper">
                        <a target="_blank" href="/catalogsearch/result/?q=Bonnie%20Garmus" tabindex="0">
                          <p class="author">Bonnie Garmus</p>
                        </a>
                      </div>
                      <div class="yotpo bottomLine bottomline-position yotpo-small" data-product-id="7034290" data-url="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" data-yotpo-element-id="1">
                        <div class="yotpo-display-wrapper" style="visibility: hidden;">
                          <div class="standalone-bottomline" data-source="default" tabindex="-1">
                            <div class="yotpo-bottomline pull-left  star-clickable" tabindex="0">
                              <span class="yotpo-stars"> <span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="sr-only">5.0 star rating</span> </span>  <a href="javascript:void(0)" class="text-m" aria-label="1 reviews" tabindex="0">1 Review</a>   
                              <div class="yotpo-clr"></div>
                            </div>
                            <div class="yotpo-clr"></div>
                          </div>
                          <div class="yotpo-clr"></div>
                        </div>
                      </div>
                      <div class="product-item-inner">
                        <div class="product-item-actions">
                          <a href="https://www.booksio.com/lessons-in-chemistry-43ad39032c13" class="view-product-details" tabindex="0">View Details</a> 
                          <div class="price-box price-final_price" data-role="priceBox" data-product-id="7034290" data-price-box="product-id-7034290"> <span class="normal-price">   <span class="pricing-element price-container "> <span class="price-label">Regular Price</span>           <span id="old-price-7034290-widget-product-carousel" data-price-amount="14.99" data-price-type="finalPrice" data-price-min="14.99" data-price-max="28.83" class="price-wrapper price-range ">   <span class="price">$14.99</span> - <span class="price">$28.83</span></span> </span>  </span>  <span class="old-price sly-old-price no-display">  <span class="pricing-element price-container "> <span class="price-label">Regular Price</span>           <span id="old-price-7034290-widget-product-carousel" data-price-amount="14.99" data-price-type="oldPrice" data-price-min="14.99" data-price-max="14.99" class="price-wrapper single-price ">  <span class="price">$14.99</span></span>   </span> </span>  </div>
                          <div class="actions-primary">
                            <form data-role="tocart-form" data-product-sku="43ad39032c13" action="https://www.booksio.com/checkout/cart/add/uenc/aHR0cHM6Ly93d3cuYm9va3Npby5jb20v/product/7034290/" method="post" data-hs-cf-bound="true"><input type="hidden" name="product" value="7034290" tabindex="0"><input type="hidden" name="uenc" value="aHR0cHM6Ly93d3cuYm9va3Npby5jb20vY2hlY2tvdXQvY2FydC9hZGQvdWVuYy9hSFIwY0hNNkx5OTNkM2N1WW05dmEzTnBieTVqYjIwdi9wcm9kdWN0LzcwMzQyOTAv" tabindex="0"><input name="form_key" type="hidden" value="UxbR7TJdQwixPtD6" tabindex="0"><input type="hidden" name="qty" value="1" tabindex="0"> <button type="submit" title="Add to Cart" class="action tocart primary" tabindex="0"><span>Add to Cart</span></button></form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </div>
            </div>
          </ol>
        </div>
        <style type="text/css">.box-model-64a5c65d77965 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
        <style type="text/css">.box-model-64a5c65d8cb32 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
      </div>
    </div>
    <style type="text/css">.box-model-64a5c65d778b9 {margin-top: 50px;margin-bottom: 60px;}@media only screen and (max-width: 768px) {.box-model-64a5c65d778b9 {margin-top: 50px;margin-bottom: 36px;}}</style>
    <style type="text/css">.box-model-64a5c65d8ca92 {margin-top: 50px;margin-bottom: 60px;}@media only screen and (max-width: 768px) {.box-model-64a5c65d8ca92 {margin-top: 50px;margin-bottom: 36px;}}</style>
  </div>
</div>

{% schema %}
  {
    "name": "NY Times",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "NY Times"
      }
    ]
  }
{% endschema %}