<div
  data-content-type="block"
  data-appearance="default"
  data-element="main"
  data-pb-style="A0L7A70"
  class="box-model-64c25a91bc0a8 product-faq">
  <div class="widget block block-static-block">
    <style>
      #html-body [data-pb-style=GY7P4K9],
      #html-body [data-pb-style=UGT6NLS] {
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        background-position: left top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        border-width: 0
      }
      #html-body [data-pb-style=UGT6NLS] {
        width: 100%;
        align-self: stretch
      }
      #html-body [data-pb-style=WJDLGU7] {
        text-align: center;
        border-style: none
      }
      #html-body [data-pb-style=QWVL0OY],
      #html-body [data-pb-style=TYFVXFT] {
        border-width: 0;
        max-width: 100%;
        height: auto
      }
      #html-body [data-pb-style=A924RH4],
      #html-body [data-pb-style=TEM2YC8],
      #html-body [data-pb-style=U15YR7F] {
        border-width: 0
      }
      .product-faq {
        padding: 100px 0;
      }
      @media only screen and (max-width: 768px) {
        #html-body [data-pb-style=WJDLGU7] {
          border-style: none
        }
        .product-faq {
          padding: 50px 0;
        }
      }
    </style>
    <div
      data-content-type="row"
      data-appearance="contained"
      data-element="main">
      <div
        data-enable-parallax="0"
        data-parallax-speed="0.5"
        data-background-images="{}"
        data-background-type="image"
        data-video-loop="true"
        data-video-play-only-visible="true"
        data-video-lazy-load="true"
        data-video-fallback-src=""
        data-box-model="{}"
        data-element="inner"
        data-pb-style="GY7P4K9">
        <div
          class="pagebuilder-column-group"
          style="display: flex;"
          data-content-type="column-group"
          data-grid-size="12"
          data-element="main">
          <div
            class="pagebuilder-column"
            data-content-type="column"
            data-appearance="full-height"
            data-background-images="{}"
            data-box-model="{}"
            data-element="main"
            data-pb-style="UGT6NLS">
            <figure
              data-content-type="image"
              data-appearance="full-width"
              data-element="main"
              data-pb-style="WJDLGU7"
              class="box-model-64c25a91bb0d0 box-model-64c25a91bc0b3">
              <img
                class="pagebuilder-mobile-hidden box-model-64c25a91bb0e0 box-model-64c25a91bc0bc"
                src="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/heading_icon_4.png?v=1690467589"
                alt=""
                title=""
                data-element="desktop_image"
                data-pb-style="QWVL0OY"
                style="display: inline-block;"><img
                class="pagebuilder-mobile-only box-model-64c25a91bb0ec box-model-64c25a91bc0c5"
                src="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/heading_icon_4.png?v=1690467589"
                alt=""
                title=""
                data-element="mobile_image"
                data-pb-style="TYFVXFT"
                style="display: inline-block;">
            </figure>
            <div
              data-content-type="text"
              data-appearance="default"
              data-element="main"
              data-pb-style="U15YR7F"
              class="box-model-64c25a91bb0f6 box-model-64c25a91bc0cd">
              <h3 style="text-align: center;">
                <span style="font-size: 36px; line-height: 42px;">
                  <span style="color: #202020;">
                    <span style="color: #298fc2;">FREQUENTLY</span>
                    ASKED QUESTIONS</span>
                </span>
              </h3>
            </div>
            <div
              data-content-type="html"
              data-appearance="default"
              data-element="main"
              data-pb-style="A924RH4"
              data-decoded="true"
              class="box-model-64c25a91bb0ff box-model-64c25a91bc0d6">
              <style>
                .faq-wrapper .collapsible-item > button {
                  background: transparent;
                  border: none;
                  color: #212322;
                  font-weight: bold;
                  margin: 10px 0;
                  font-size: 20px;
                  width: 100%;
                  position: relative;
                }
                .faq-wrapper .collapsible-item > .content > p {
                  font-size: 20px;
                  font-weight: normal;
                  padding: 10px 0;
                }
                .collapsible-item {
                  border-bottom: 1px solid #b3b3b2;
                }
                .faq-wrapper .collapsible-item > button:after {
                  content: '\e608';
                  font-family: 'luma-icons';
                  position: absolute;
                  right: 0;
                }
                .faq-wrapper .collapsible-item.active > button:after {
                  content: '\e622';
                }
                .faq-wrapper {
                  border-top: 1px solid #b3b3b2;
                }
                @media screen and (max-width: 1280px) {
                  .main-hero-home {
                    min-height: auto !important;
                    padding: 0 0 70px;
                  }
                }
                @media screen and (max-width: 1200px) {
                  .main-hero-home {
                    background: #fff;
                  }
                  .faq-wrapper .collapsible-item > button {
                    font-size: 15px;
                  }
                  .faq-wrapper .collapsible-item > .content > p {
                    font-size: 15px;
                  }
                }
              </style>
            </div>
            <div
              data-content-type="html"
              data-appearance="default"
              data-element="main"
              data-pb-style="TEM2YC8"
              data-decoded="true"
              class="box-model-64c25a91bb107 box-model-64c25a91bc0df">
              <div class="faq-wrapper">
                <div class="collapsible-item active">
                  <button type="button" class="collapsible">What do I do if I receive the wrong product or if it arrives damaged?</button>
                  <div class="content" style="display: block;">
                    <p>
                      We’re so sorry this happened! Don’t hesitate to get in touch with our customer care team on this
                      <a href="https://www.booksio.com/contact/">page</a>
                      within two weeks of delivery to describe what you received. Please include your order number (it looks like “BOOK-############” and was included in your confirmation email) and email address used for the purchase. A photo of the product in question is helpful too! We’ll work with you to resolve the problem as soon as possible.
                    </p>
                  </div>
                </div>
                {% for block in section.blocks %}
                  <div class="collapsible-item {% if block.index == 1 %}active{% endif %}">
                    <button type="button" class="collapsible">{{ block.settings.title }}</button>
                    <div class="content" style="display: none;">
                      {{ block.settings.text }}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product FAQ",
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "Product FAQ"
      }
    ]
  }
{% endschema %}