<div
  class="new-arrivals-block download-products box-model-64aa9bd53f5bf"
  data-content-type="row"
  data-appearance="full-width"
  data-enable-parallax="0"
  data-parallax-speed="0.5"
  data-background-images="{}"
  data-background-type="image"
  data-video-loop="true"
  data-element="main"
  data-pb-style="TVGL614">
  <div class="row-full-width-inner" data-element="inner">
    <div
      class="pagebuilder-column-group"
      style="display: flex;"
      data-content-type="column-group"
      data-grid-size="12"
      data-element="main">
      <div
        class="pagebuilder-column box-model-64aa9bd53f5e0"
        data-content-type="column"
        data-appearance="full-height"
        data-background-images="{}"
        data-element="main"
        data-pb-style="EIVKGNT">
        <div
          class="lora-font heading-title box-model-64aa9bd53f5ff"
          data-content-type="text"
          data-appearance="default"
          data-element="main"
          data-pb-style="P0A5DL7">
          <div class="sp">
            <div class="inspectLayerContent block inspectRow">
              <h3 class="content" style="text-align: center;">
                <span style="font-size: 52px; line-height: 52px;">{{ section.settings.title }}</span>
              </h3>
            </div>
          </div>
        </div>
        <div
          class="lato-font ny-times-subtitle box-model-64aa9bd53f61f"
          data-content-type="text"
          data-element="main"
          data-pb-style="PTEERM1">
          <div class="sp">
            <div class="inspectLayerContent block inspectRow" style="font-size: 18px; line-height: 32px;">
              {{ section.settings.text }}
            </div>
          </div>
          <div class="sp">&nbsp;</div>
        </div>
        <div
          data-content-type="html"
          data-element="main"
          data-pb-style="CE46BSJ"
          data-decoded="true"
          class="box-model-64aa9bd53f62a">
          <style>
            .trendsellers-blocks .trendingbook-col figure {
              border-radius: 5px;
            }
            .new-arrivals-block .block.widget .products-grid .product-items {
              gap: 0;
            }
            .new-arrivals-block .block.widget .products-grid .product-items li.product-item {
              width: calc(100% / 6);
            }
            .new-arrivals-block .block.widget .products-grid .product-items li.product-item .product-item-info .product-item-details .author-wrapper .author {
              color: #cc672d;
            }
            .cms-index-index .line-heading-col:before {
              background: #cc672d;
            }
            .new-arrivals-block .product-item-details {
              display: none;
            }
            .new-arrivals-block .free-download-link {
              height: 49px;
              border-radius: 50px;
              background: #298fc2;
              width: 100%;
              margin-top: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .new-arrivals-block .free-download-link:hover {
              filter: opacity(0.7);
            }
            .new-arrivals-block .free-download-link a {
              font-family: "Lato";
              font-size: 15px;
              font-weight: bold;
              line-height: 27px;
              font-style: normal;
              text-align: center;
              color: #ffffff;
              text-transform: uppercase;
              display: flex;
              height: 100%;
              width: 100%;
              justify-content: center;
              align-items: center;
            }
            .new-arrivals-block .slick-slider .slick-track {
              display: flex;
            }
            .new-arrivals-block .slick-initialized .slick-slide {
              align-self: flex-end;
              position: relative;
            }
            .new-arrivals-block.download-products .ny-times-subtitle {
              max-width: 860px;
              margin: auto;
            }
            .new-arrivals-block.download-products .block.widget .products-grid .product-items {
              flex-wrap: nowrap !important;
              gap: 0 !important;
            }
            .new-arrivals-block.download-products .block.widget .products-grid .product-items li.product-item {
              padding: 0 20px !important;
            }
            .new-arrivals-block .slick-arrow {
              width: 44px;
              height: 52px;
              z-index: 1;
              background-color: #298fc2;
            }
            .new-arrivals-block .slick-arrow:before {
              width: 44px;
              height: 52px;
              background-image: none !important;
            }
            .new-arrivals-block .slick-arrow.slick-prev {
              margin-left: -10px;
              border-radius: 0 15px 15px 0;
            }
            .new-arrivals-block .slick-arrow.slick-next {
              margin-right: -10px;
              border-radius: 15px 0 0 15px;
            }
            .new-arrivals-block .slick-arrow.slick-disabled {
              background-color: rgba(41, 143, 193, 0.65);
            }
            .new-arrivals-block .slick-arrow.slick-next:before {
              content: '\e608';
              font-family: 'luma-icons';
              top: 16px;
              height: auto;
            }
            .new-arrivals-block .slick-arrow.slick-prev:before {
              content: '\e617';
              font-family: 'luma-icons';
              top: 16px;
              height: auto;
            }
            .new-arrivals-block .slick-prev:hover:before,
            .new-arrivals-block .slick-next:hover:before {
              color: #fff;
            }
            .new-arrivals-block .newarrival-lists {
              margin: 0;
            }
            .new-arrivals-block.download-products .pagebuilder-column h3 {
              margin-top: 0;
            }
            .new-arrivals-block [data-content-type=products][data-appearance=carousel] .slick-initialized li.product-item .product-item-info {
              max-width: 195px;
            }
            .new-arrivals-block .slick-slide img {
              display: block !important;
              height: 100%;
            }
            @media(min-width: 768px) and (max-width: 1024px) {
              .new-arrivals-block .slick-arrow.slick-prev {
                left: 0;
              }
              .new-arrivals-block .slick-arrow.slick-next {
                right: 0;
              }
            }
            @media(max-width: 767px) {
              .new-arrivals-block.download-products [data-content-type=products][data-appearance=carousel] .slick-initialized li.product-item {
                padding: 14px;
              }
              .new-arrivals-block.download-products [data-content-type=products][data-appearance=carousel] .product-item-info {
                max-width: 150px;
              }
              .new-arrivals-block .slick-arrow.slick-prev {
                left: 0;
              }
              .new-arrivals-block .slick-arrow.slick-next {
                right: 0;
              }
              .new-arrivals-block.download-products .pagebuilder-column * {
                text-align: left !important;
              }
              .new-arrivals-block.download-products .pagebuilder-column h3 span {
                font-size: 35px !important;
                line-height: 41px !important;
              }
              .product-image-container-8573004 span.product-image-wrapper {
                padding-bottom: 0 !important;
              }
              .new-arrivals-block.download-products .slick-initialized li.product-item {
                padding: 14px !important;
              }
            }
          </style>
        </div>
      </div>
    </div>
    <div
      class="hidden-xs box-model-64aa9bd53f634"
      data-content-type="products"
      data-appearance="grid"
      data-element="main"
      data-pb-style="PNH1KE2">
      <div class="block widget block-products-list grid">
        <div class="block-content">
          <!-- new_products_content_widget_grid-->
          <div class="products-grid grid">
            <ol class="product-items widget-product-grid">
              {% for block in section.blocks %}
                {% assign product = all_products[block.settings.product] %}
                {% if product %}
                  {% include 'card-product-free-download' with product %}
                {% endif %}
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="visible-xs box-model-64aa9bd53f63d" data-pb-style="JFH8GW4">
      <ol class="product-items widget-product-carousel widget-product-carousel-free-download">
        {% for block in section.blocks %}
          <div>
            <div>
              {% assign product = all_products[block.settings.product] %}
              {% if product %}
                {% include 'card-product-free-download' with product %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Try Reader App",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "Try Reader App"
      }
    ]
  }
{% endschema %}