<div class="top-categories-block box-model-64aa9bd53f214" data-content-type="row" data-appearance="full-width" data-element="main" data-pb-style="BJ7KH3X">
  <div class="row-full-width-inner" data-element="inner">
    <div data-content-type="html" data-appearance="default" data-element="main" data-pb-style="LLPC3CR" data-decoded="true" class="box-model-64aa9bd53f21c">
      <style>
        .border-bottom {
        border-bottom: 1px solid #212322;
        }
        a.category-box {
        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        }
        a.category-box .category-box-title {
        position: absolute;
        bottom: 0;
        z-index: 1 !important;
        color: #000;
        left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        }
        a.category-box .category-box-image {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 0px 10px;
        margin-top: -15px;
        text-align: center;
        }
        .line-heading-01 h3 span {
        font-family: "lora";
        font-size: 30px !important;
        font-weight: bold;
        line-height: 30px;
        font-style: normal;
        color: #212322 !important;
        }
        .top-categories-col {
        position: relative;
        }
        .top-categories-col * {
        font-family: 'lato';
        }
        .visible-xs {
        display: none !important;
        }
        a.category-box .category-box-title {
        position: unset;
        display: inline-block;
        margin-bottom: 0 !important;
        margin-top: 15px;
        font-family: "lato";
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        font-style: normal;
        color: #212322;
        }
        .top-categories-col {
        align-items: center;
        display: flex;
        justify-content: center !important;
        }
        a.category-box .category-box-image {
        margin: 0;
        }
        @media (min-width: 1251px) {
        .top-categories-block .row-full-width-inner {
        padding-right: 0 !important;
        padding-left: 0 !important;
        }
        }
        @media screen and (max-width: 1250px) {
        .new-arrivals-block .slick-arrow.slick-next {
        margin-right: 0 !important;
        }
        .new-arrivals-block .slick-arrow.slick-prev {
        margin-left: 0 !important;
        }
        }
        @media screen and (max-width: 1199px) {
        .cms-page-view .featured-charity ul li {
        width: 100% !important;
        }
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
        .top-categories-block .pagebuilder-column-group {
        flex-wrap: wrap;
        }
        .top-categories-col {
        padding: 30px 5px !important;
        width: 50% !important;
        }
        a.category-box .category-box-title {
        margin-top: 10px;
        font-size: 11px;
        }
        }
        @media screen and (max-width: 768px) {
        .hidden-xs {
        display: none !important;
        }
        .visible-xs {
        display: block !important;
        }
        }
        @media screen and (max-width: 767px) {
        .line-heading-01 h3 {
        margin-bottom: 0;
        }
        #html-body .top-categories-block {
        padding: 20px 0 50px;
        }
        .preserving-democracy+.newarrival-lists>p+p,
        .start-reading+.newarrival-lists>p+p,
        .ny-times>h3+p {
        height: 0;
        }
        .ny-times,
        .ny-times h3 {
        margin: 0;
        }
        .mr-0-mobile {
        margin-right: 0 !important;
        }
        .line-heading-01 h3 span {
        font-size: 23px !important;
        line-height: 23px !important;
        }
        .top-categories-col-slider .category-box {
        background: #fff;
        width: 155px;
        display: flex;
        margin: auto;
        text-align: center;
        height: 155px;
        flex-direction: column;
        border-radius: 15px;
        filter: drop-shadow(0px 3px 4.5px rgba(0,0,0,0.1 ));
        align-items: center;
        justify-content: center;
        }
        a.category-box .category-box-title {
        font-size: 12px;
        line-height: 12px;
        }
        a.category-box .category-box-image img {
        margin: auto;
        }
        }
      </style>
    </div>
    <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
      {% for block in section.blocks %}
        <div class="pagebuilder-column top-categories-col box-model-64aa9bd53f227" data-content-type="column" data-appearance="align-center" data-element="main" data-pb-style="LXEXW89">
          <figure data-content-type="image" data-appearance="full-width" data-box-model="{}" data-element="main" data-pb-style="USXTTP1">
            {% if block.settings.icon != blank %}
              <img class="pagebuilder-mobile-hidden" src="{{ block.settings.icon | img_url: 'master' }}" alt="" title="" data-box-model="{}" data-element="desktop_image" data-pb-style="D19JQAF" style="display: inline-block;">
              <img class="pagebuilder-mobile-only" src="{{ block.settings.icon | img_url: 'master' }}" alt="" title="" data-box-model="{}" data-element="mobile_image" data-pb-style="F6QIBKO">
            {% endif %}
          </figure>
          <div data-content-type="text" data-element="main" data-pb-style="O3U8Y4C" class="box-model-64aa9bd53f24e">
            <div class="sp">
              <div class="inspectLayerContent block inspectRow">
                <div class="content" style="text-align: center;">{{ block.settings.text }}</div>
              </div>
            </div>
          </div>
          <style type="text/css">.box-model-64aa9bd53f24e {margin-top: 20px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
        </div>
      {% endfor %}
      <style type="text/css">.box-model-64aa9bd53f227 {margin-top: 5px;margin-right: 0px;margin-bottom: 5px;margin-left: 0px;padding-top: 30px;padding-right: 10px;padding-bottom: 20px;padding-left: 10px;}@media only screen and (max-width: 768px) {.box-model-64aa9bd53f227 {margin-right: 0px;margin-left: 0px;padding-top: 30px;padding-right: 8px;padding-bottom: 0px;padding-left: 8px;}}</style>
      <style type="text/css">.box-model-64aa9bd53f25a {margin-top: 5px;margin-right: 0px;margin-bottom: 5px;margin-left: 0px;padding-top: 30px;padding-right: 10px;padding-bottom: 20px;padding-left: 10px;}@media only screen and (max-width: 768px) {.box-model-64aa9bd53f25a {margin-right: 0px;margin-left: 0px;padding-top: 30px;padding-right: 8px;padding-bottom: 0px;padding-left: 8px;}}</style>
      <style type="text/css">.box-model-64aa9bd53f288 {margin-top: 5px;margin-right: 0px;margin-bottom: 5px;margin-left: 0px;padding-top: 30px;padding-right: 10px;padding-bottom: 20px;padding-left: 10px;}@media only screen and (max-width: 768px) {.box-model-64aa9bd53f288 {margin-right: 0px;margin-left: 0px;padding-top: 30px;padding-right: 8px;padding-bottom: 0px;padding-left: 8px;}}</style>
      <style type="text/css">.box-model-64aa9bd53f2b7 {margin-top: 5px;margin-right: 0px;margin-bottom: 5px;margin-left: 0px;padding-top: 30px;padding-right: 10px;padding-bottom: 20px;padding-left: 10px;}@media only screen and (max-width: 768px) {.box-model-64aa9bd53f2b7 {margin-right: 0px;margin-left: 0px;padding-top: 30px;padding-right: 8px;padding-bottom: 0px;padding-left: 8px;}}</style>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Reader App Icons",
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "Reader App Icons"
      }
    ]
  }
{% endschema %}