<div class="home-newsletter-block box-model-64a73e701b215" data-content-type="row" data-appearance="full-width" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-box-model="{&quot;mobile&quot;:{&quot;padding&quot;:{&quot;top&quot;:&quot;20px&quot;,&quot;bottom&quot;:&quot;40px&quot;}},&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;80px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;90px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="WOMORTV">
  <div class="row-full-width-inner" data-element="inner">
    <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
      <div class="pagebuilder-column newsletter-title box-model-64a73e701b237" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{&quot;mobile&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;30px&quot;}},&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;60px&quot;}}}" data-element="main" data-pb-style="PH7EVCN">
        <div class="lora-font" data-content-type="text" data-appearance="default" data-box-model="{}" data-element="main" data-pb-style="CJ7NT0G">
          <h3><span style="font-size: 52px; line-height: 42px; color: #000000;">{{ section.settings.title }}</span></h3>
        </div>
      </div>
      <style type="text/css">.box-model-64a73e701b237 {margin-top: 60px;}@media only screen and (max-width: 768px) {.box-model-64a73e701b237 {margin-top: 30px;}}</style>
    </div>
    <div style="color: #212322; line-height: 32px; text-align: center;font-size: 18px;" class="lato-font newsletter-text box-model-64a73e701b258" data-content-type="text" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;35px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="X8432TY">
      {{ section.settings.text }}
    </div>
    <div data-content-type="html" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="K93PJDL" data-decoded="true" class="box-model-64a73e701b262">
      <style>
        .newsletter-title h3 span {
        font-size: 53px !important;
        line-height: 62px !important;
        }
        .home-newsletter-block .lato-font p {
        margin: 0 !important;
        }
        .home-newsletter-block h2.title, 
        .home-newsletter-block .block.newsletter .field.newsletter .control label .label {
        display: none;
        }
        .home-newsletter-block .block.newsletter .field.newsletter .control input {
        background-color: #fff;
        height: 58px;
        border-width: 1px;
        padding: 0 145px 0 25px;
        border-color: #212322 !important;
        border-radius: 0 !important;
        width: calc(100% - 147px) !important;
        font-family: "Lato";
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        font-style: normal;
        color: #212322;
        border-right: 0;
        }
        .home-newsletter-block .block.newsletter .field.newsletter .control input::placeholder {
        font-family: "Lato";
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        font-style: normal;
        color: #212322;
        opacity: 0.50;
        }
        .home-newsletter-block .block.newsletter .actions .action.subscribe.primary {
        border-radius: 0 50px 50px 0 !important;
        width: 147px !important;
        text-transform: capitalize;
        }
        .newsletter-cols {
        max-width: 540px;
        margin: 0 auto !important;
        position: relative;
        }
        .home-newsletter-block .block.newsletter .field.newsletter {
        width: 100%;
        padding: 0;
        position: relative;
        }
        .home-newsletter-block .block.newsletter .actions .action.subscribe.primary {
        border-radius: 0 15px 15px 0;
        height: 58px;
        font-size: 18px;
        }
        .home-newsletter-block .block.newsletter .actions {
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        }
        @media screen and (max-width: 767px) {
        .newsletter-title h3 span {
        font-size: 34px !important;
        line-height: 38px !important;
        }
        .newsletter-text span {
        font-size: 16px !important;
        line-height: 25px !important;
        }
        .home-newsletter-block .block.newsletter .actions {
        width: auto !important;
        }
        .home-newsletter-block .block.newsletter .actions .action.subscribe.primary {
        max-width: 90px;
        height: 34px;
        font-size: 10px;
        line-height: 7px;
        }
        .home-newsletter-block .block.newsletter .field.newsletter .control input {
        height: 34px;
        padding: 0 100px 0 10px;
        width: calc(100% - 90px) !important;
        font-size: 10px;
        line-height: 10px;
        }
        .home-newsletter-block .block.newsletter .field.newsletter .control input::placeholder {
        font-size: 10px;
        line-height: 10px;
        }
        }
      </style>
    </div>
    <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
      <div class="pagebuilder-column newsletter-cols box-model-64a73e701b26b" data-content-type="column" data-appearance="align-center" data-background-images="{}" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="RFVH2IR">
        <div data-content-type="html" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="TAP8MT0" data-decoded="true" class="box-model-64a73e701b274">
          <div class="block newsletter">
            <h2 class="title">Newsletter</h2>
            <div class="content">
              {% form 'customer', id: formId, novalidate: 'novalidate' %}
                {% if form.posted_successfully? %}
                  <p
                    class="form-message form-message--success"
                    style="text-align: center;"
                    tabindex="-1"
                    data-form-status>
                    Thank you for subscribing!
                  </p>
                {% else %}
                  <div class="field newsletter">
                    <div class="control"><label for="newsletter"><span class="label">Sign Up for Our Newsletter:</span> <input name="contact[email]" type="email" placeholder="Your email address" data-validate="{required:true, 'validate-email':true}" autocomplete="email" data-form-type="email"></label></div>
                  </div>
                  <div class="actions"><button class="action subscribe primary" title="Sign Up" type="submit" data-form-type="action,subscribe"><span>Sign Up</span></button></div>
                {% endif %}
              {% endform %}
            </div>
          </div>
        </div>
        <style type="text/css">.box-model-64a73e701b274 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
      </div>
      <style type="text/css">.box-model-64a73e701b26b {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
    </div>
    <style type="text/css">.box-model-64a73e701b258 {margin-top: 0px;margin-right: 0px;margin-bottom: 35px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
    <style type="text/css">.box-model-64a73e701b262 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
  </div>
</div>

{% schema %}
  {
    "name": "Subscribe",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      }
    ]
  }
{% endschema %}