.media>*:not(.zoom):not(.deferred-media__poster-button), .media model-viewer{
  border-radius: 10px;
}
@media screen and (min-width: 768px){
  .buttons-after-product-images{
    margin-top: -2rem;
    margin-bottom: 1rem;
  }
}
#product-addtocart-button{

    max-width: 190px;
    width: 100%;
    padding: 18px 10px;
    font-size: 18px;
  font-weight: bold; 
  border-radius: 5px !important;
  
}
