.media>*:not(.zoom):not(.deferred-media__poster-button), .media model-viewer{
  border-radius: 10px;
}
@media screen and (min-width: 768px){
  .buttons-after-product-images{
    margin-top: -2rem;
    margin-bottom: 1rem;
  }
}