<main class="cms-page-view">
  {% section 'join-booksio-authors-hero' %}
  {% section 'join-booksio-authors-icons' %}
  {% section 'join-booksio-authors-faq' %}
  {% section 'join-booksio-authors-signup' %}
</main>